body {
  background-color: rgb(49, 49, 49);
}
h1 {
  text-align: center;
  margin-bottom: 50px;
  positiion:relative;
  color:white;
}

#chessboard {
  position: relative;
  width: 512px;
  height: 512px;
  box-sizing: border-box;
  border: 3px solid #50312b;
  margin: auto;

}

.row{
  box-sizing: border-box;
  width: 512px;
  height: 64px;
}

.cell {
  width: 64px;
  height: 64px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  font-weight: bold;
}

.cell-white {
  background-color: #efe0d1;
}

.cell-black {
  background-color: #70433c;
}

.selected {
  border: 1px solid red;
  color: red;
}

.whitepawn{
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

.blackpawn{
  color: rgb(255, 255, 255);
  background-color: #000000;
}